#seccion_usuario {
    background: url('https://i.pinimg.com/originals/1f/69/af/1f69afb7d86d6e54a77cf912b624de32.jpg');
}

#imagen_perfil {
    margin-top: 25px;
}

#seccion_usuario2 {
    border: solid 3px rgb(18, 93, 213);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 20px;
    padding: 10px;
}