body {
    background: url('https://www.colorhexa.com/031926.png');
}

#divCard {
    width: 22rem;
    display: inline-flex;
    margin: 70px;
    border: solid 3px rgb(0, 0, 0);
    /* background-color: rgba(69, 165, 225, 0.659); */
}

#nombre_tarjeta {
    text-align: center;
    color: rgb(0, 0, 0);
}

#seccion_celebridades {
    background: url('https://www.colorhexa.com/031926.png');
}

/* #boton_favoritos {
    
} */

#lista_detalles {
    border: green;
}