#cuerpo_login {
    /*background-color: rgba(150, 231, 194, 0.762);*/
    background: url('https://www.colorhexa.com/f4e9cd.png');
    text-align: center;
    margin: 30px;
    padding: 10px;
    border: solid 5px rgb(0, 0, 0);
}

#titulo_login {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
    font-size: 500%;
}

#cargando {
    background-color: rgba(245, 245, 220, 0.762);
    text-align: center;
    margin: 30px;
    border: solid 5px rgb(0, 0, 0);
}